{% extends "index.html" %} 
{% block content %}

<div class="container event-container">
    <a href="/events/add" class="btn btn-custom pull-right">Add New Event &nbsp;&nbsp;<span class="glyphicon glyphicon-bullhorn"></span></a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Event Name</th>
                <th>Location</th>
                <th>Date</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>
                    <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                </td>
                <td>{{ event.location }}</td>
                <td>{{ event.date }}</td>
                <td>Rs. {{ event.price }}/-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}